<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306</property>
    <!--<property name="connection.driver_class">net.sf.log4jdbc.DriverSpy</property>-->
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <!--<property name="show_sql">true</property>-->
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">password</property>
    <!--<property name="hibernate.connection.username">root</property>-->
    <!--<property name="hibernate.connection.password">password</property>-->
    <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
    <property name="hibernate.enable_lazy_load_no_trans">true</property>
    <mapping class="com.jvschool.entities.AddressEntity"/>
    <mapping class="com.jvschool.entities.CityEntity"/>
    <mapping class="com.jvschool.entities.CountryEntity"/>
    <mapping class="com.jvschool.entities.DeliveryStatusEntity"/>
    <mapping class="com.jvschool.entities.PayStatusEntity"/>
    <mapping class="com.jvschool.entities.PayWayEntity"/>
    <mapping class="com.jvschool.entities.RegionEntity"/>
    <mapping class="com.jvschool.entities.RoleEntity"/>
    <mapping class="com.jvschool.entities.UserEntity"/>
    <mapping class="com.jvschool.entities.OrderEntity"/>
    <mapping class="com.jvschool.entities.PicturesEntity"/>
    <mapping class="com.jvschool.entities.ProductEntity"/>
    <mapping class="com.jvschool.entities.ProductCategoryEntity"/>
    <mapping class="com.jvschool.entities.ProductPropertyEntity"/>
    <mapping class="com.jvschool.entities.PropertyCategoryEntity"/>
    <mapping class="com.jvschool.entities.ProductRadioPropertyEntity"/>
    <mapping class="com.jvschool.entities.PropertyRadioCategoryEntity"/>


    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>


</hibernate-configuration>

